{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">Homepage</a> / <em> About Us</em></p>
                            <h2>About <em>Us</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="more-about-us">
        <div class="container">
            <p class="align_text">Dealer of Toyota, under the name of World Auto Centre, when Toyota was handled by P.M.C., during
                that
                time dealt in sales of all Japanese Domestic vehicles, also had auto workshop facilities at
                different places. Since the establishment of IMC, Karachi, in 1991 we built a new showroom,
                under
                the name of Toyota Central Motors with workshop and spare parts facilities under one roof as per
                Toyota 3-S concept. We also opened a new facility in 2000 under the name of Toyota Society
                Motors on
                Khalid Bin Walid Road, to accommodate our customers in the main auto market.</p>
            <h3>MISSION STATEMENT:</h3>
            <p class="align_text">
                "To increase the market share of Toyota Corolla and Daihatsu vehicles in Pakistan. We seek to cater
                maximum number of people with our high quality product and services."
            </p>
            <h3>VISION STATEMENT:</h3>
            <p class="align_text">
                "To become the most respected and successful Toyota 3S Dealership in Pakistan by providing the best
                quality services to ensure customer delight with an efficient and effective workforce."
            </p>
        </div>
    </div>
</section>

<section>
    <div class="more-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename = 'images/about_us.jpg')}}" alt="">
                </div>
                <div class="col-md-6">
                    <div class="right-content">
                        <span>Lorem ipsum consectetur.</span>
                        <h4>Who we are, what we do?</h4>
                        <p class="align_text">Thundercats gentrify flannel, raw denim before they sold out PBRB meggings. Godard stumptown
                            forage, tote bag narwhal viral Austin actually.<br><br>Pop-up flannel direct trade, High
                            Life sriracha chia Pinterest photo booth. Narwhal PBR dreamcatcher, taxidermy stumptown.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="our-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="text-content">
                            <h2>Our Happy Clients</h2>
                            <span>Here are our happy clients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-clients" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_01.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_02.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_03.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_01.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_02.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_03.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_01.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_02.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_03.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_01.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_02.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_03.jpg')}}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename = 'images/client_01.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}