{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">Homepage</a> / <em> About Us</em></p>
                            <h2>About <em>Us</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark text-lg-center">Basic Actions</h1>
                <a href="/login"><button class="btn btn-dark">Admin Pannel</button></a>
                <a href="/logout"><button class="btn btn-dark">Logout</button></a>
            </div>
        </div>
    </div>
</section>
<hr>

<div class="container">
    <h2>Horizontal form</h2>
    <form class="form-horizontal" action="/edit/{{car.car_id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Model Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter model name" name="name" value="{{car.name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comp_name">Company Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="comp_name" placeholder="Enter company name" name="comp_name" value="{{car.company_name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Car Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" placeholder="Enter car price" name="price" value="{{car.price}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="descript">Car Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="descript" placeholder="Enter car description" name="descript" value="{{car.description}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="url">Image URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="url" placeholder="Enter image url" name="url" value="{{car.url}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rating">Car Rating:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="rating" placeholder="Enter car rating" name="rating" value="{{car.rating}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="slug">Slug:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="slug" placeholder="Enter slug" name="slug" value="{{car.slug}}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}