{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <h2>Admin <em>Pannel</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mt-n5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-lg-center">
                <h1 class="text-dark">Basic Actions</h1>
                <a href="/edit/0"><button class="btn btn-dark">Add new car</button></a>
                <a href="/logout"><button class="btn btn-dark">Logout</button></a>
            </div>
        </div>
    </div>
</section>
<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark text-lg-center">Edit Display Car</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Model Name</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image URL</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Edit Data</th>
                        <th scope="col">Delete Data</th>
                    </tr>
                    </thead>
                    <tbody class="text-dark">
                    {% for i, car in enumerate(cars, start=1) %}
                    <tr>
                        <th scope="row">{{i}}</th>
                        <td>{{car.name}}</td>
                        <td>{{car.company_name}}</td>
                        <td>{{car.price}}</td>
                        <td>{{car.Description}}</td>
                        <td>{{car.url}}</td>
                        <td>{{car.rating}}</td>
                        <td>{{car.slug}}</td>
                        <td>
                            <a href="/edit/{{car.car_id}}"><button class="btn btn-dark">Edit</button></a>
                        </td>
                        <td>
                            <a href="/delete/{{car.car_id}}"><button class="btn btn-dark">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}