{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">Homepage</a> / <em> Cars</em> / <em> Listing</em></p>
                            <h2>Cars <em>Grids</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="on-grids wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
    <div class="container">
        <div class="recent-car-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for car in cars %}
                        <div class="col-md-6">
                            <div class="car-item">
                                <div class="thumb-content">
                                    <div class="car-banner">
                                        <a href="/single_car/{{car.slug}}">For Rent</a>
                                    </div>
                                    <div class="thumb-inner">
                                        {% set url = 'images/' + car.url %}
                                        <a href="/single_car/{{car.slug}}"><img
                                                src="{{url_for('static', filename = url)}}" alt=""></a>
                                    </div>
                                </div>
                                <div class="down-content">
                                    <a href="/single_car/{{car.slug}}"><h4>{{car.name}}</h4></a>
                                    <span>Rs. {{car.price}}</span>
                                    <div class="line-dec"></div>
                                    <p>{{car.description[0:120]}}...</p>
                                    <ul class="car-info">
                                        <li>
                                            <div class="item"><i class="flaticon flaticon-calendar"></i>
                                                <p>2013</p></div>
                                        </li>
                                        <li>
                                            <div class="item"><i class="flaticon flaticon-speed"></i>
                                                <p>160p/h</p></div>
                                        </li>
                                        <li>
                                            <div class="item"><i class="flaticon flaticon-road"></i>
                                                <p>26.00km</p></div>
                                        </li>
                                        <li>
                                            <div class="item"><i class="flaticon flaticon-fuel"></i>
                                                <p>Petrol</p></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if no_of_cars == 0%}
                        <div class="font-weight-bold" style="font-size: xx-large">No results found...</div>
                        {% endif %}
                        <div class="col-md-12">
                            <div class="page-numbers">
                                <div class="pagination-content">
                                    <ul>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar-widgets">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebar-widget">
                                    <div class="search-content">
                                        <div class="search-heading">
                                            <div class="icon">
                                                <i class="fa fa-search"></i>
                                            </div>
                                            <div class="text-content">
                                                <h2>Quick Search</h2>
                                                <span>We made a quick search just for you</span>
                                            </div>
                                        </div>
                                        <div class="search-form">
                                            <form action="/list_search" method="get">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input-select">
                                                            <select name="brand" id="brand">
                                                                <option value="-1">Select Brand</option>
                                                                {% for brand in car_brands%}
                                                                <option value="{{brand}}">{{brand}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="input-select">
                                                            <select name="car_list" id="car_list">
                                                                <option value="-1">Select Car</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="secondary-button">
                                                            <button id="listbtn" class="btn bg-color" type="submit">Search
                                                                <i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
