{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">Homepage</a> / <em> Contact Us</em></p>
                            <h2>Contact <em>Us</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="contact-content wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="send-message">
                        <div class="sep-section-heading">
                            <h2>Send Us <em>Message</em></h2>
                        </div>
                        <form id="contact_form"  method="POST" enctype="multipart/form-data" action="/contact_us">
                            <div class="row">
                                <div class=" col-md-4 col-sm-4 col-xs-6">
                                    <input type="text" class="blog-search-field" name="name" placeholder="Your name...">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input type="email" class="blog-search-field" name="email" placeholder="Your email...">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="subject" name="subject" placeholder="Subject...">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <textarea id="message" class="input" name="message" placeholder="Message..."></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn bg-color">Send now <i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="sep-section-heading">
                            <h2>Contact <em>Informations</em></h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati accusamus a iure nulla,
                            sed non ex nobis eius esse distinctio imps sunt quia sint quis quisquam odio repellat.</p>
                        <div class="info-list">
                            <ul>
                                <li><i class="fa fa-phone"></i><span>+92 3164181512</span></li>
                                <li><i class="fa fa-envelope"></i><span>bitf16a022@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}