{% extends "layout.html" %}
{% block body %}

<div class="Modern-Slider">
    <!-- Slide 1 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_01.jpg')}}" alt="">
            <div class="info">
                <div>
                    <h5>GARI GARAGE HAS THE BEST CHOICE</h5>
                    <h3>Looking For Perfect <em>Car</em>?</h3>
                    <h6 class="secondary-button">
                        <a href="/car_listing_sidebar/simple">Find Your Car <i class="fa fa-car"></i></a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- // Slide 1 -->
    <!-- Slide 2 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_02.jpg')}}" alt="">
            <div class="info">
                <div>
                    <h5>GARI GARAGE HAS THE BEST CHOICE</h5>
                    <h3>Looking For Perfect <em>Car</em>?</h3>
                    <h6 class="secondary-button">
                        <a href="/car_listing_sidebar/simple">Find Your Car <i class="fa fa-car"></i></a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- // Slide 2 -->
    <!-- Slide 3 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_03.jpg')}}" alt="">
            <div class="info">
                <div>
                    <h5>GARI GARAGE HAS THE BEST CHOICE</h5>
                    <h3>Looking For Perfect <em>Car</em>?</h3>
                    <h6 class="secondary-button">
                        <a href="/car_listing_sidebar/simple">Find Your Car <i class="fa fa-car"></i></a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- // Slide 3 -->
</div>


<section class="top-slider-features wow fadeIn" data-wow-duration="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-top-features">
                    <div id="owl-top-features" class="owl-carousel owl-theme">

                        {% for car in slide_cars %}
                        <div class="item car-item">
                            <div class="thumb-content">
                                {% set url = 'images/' + car.url %}
                                <a href="/single_car/{{car.slug}}"><img src="{{url_for('static', filename = url)}}"
                                                                        alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="/single_car/{{car.slug}}"><h4>{{car.name}}</h4></a>
                                <span>Rs. {{car.price}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="features-search-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="recent-car single-car wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="container">
                            <div class="recent-car-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="single-car" class="slider-pro">
                                            <div class="sp-slides">
                                                {% set url = 'images/' + main_car.url %}
                                                <div class="sp-slide">
                                                    <img id="slide1" class="sp-image"
                                                         src="{{url_for('static', filename=url)}}" alt=""/>
                                                </div>
                                                <div id="slide2" class="sp-slide">
                                                    <img class="sp-image"
                                                         src="{{url_for('static', filename=url)}}" alt=""/>
                                                </div>
                                                <div id="slide3" class="sp-slide">
                                                    <img class="sp-image"
                                                         src="{{url_for('static', filename=url)}}" alt=""/>
                                                </div>
                                                <div id="slide4" class="sp-slide">
                                                    <img class="sp-image"
                                                         src="{{url_for('static', filename=url)}}" alt=""/>
                                                </div>
                                                <div id="slide5" class="sp-slide">
                                                    <img class="sp-image"
                                                         src="{{url_for('static', filename=url)}}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="sp-thumbnails">
                                                <img id="thumb1" class="sp-thumbnail"
                                                     src="{{url_for('static', filename=url)}}"
                                                     alt=""/>
                                                <img id="thumb2" class="sp-thumbnail"
                                                     src="{{url_for('static', filename=url)}}"
                                                     alt=""/>
                                                <img id="thumb3" class="sp-thumbnail"
                                                     src="{{url_for('static', filename=url)}}"
                                                     alt=""/>
                                                <img id="thumb4" class="sp-thumbnail"
                                                     src="{{url_for('static', filename=url)}}"
                                                     alt=""/>
                                                <img id="thumb5" class="sp-thumbnail"
                                                     src="{{url_for('static', filename=url)}}"
                                                     alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="car-details">
                                            <h4 id="name">{{main_car.name}}</h4>
                                            <span id="price">Rs. {{main_car.price}}</span>
                                            <p id="des" class="align_text">{{main_car.description}}</p>
                                            <div class="container">
                                                <div class="row">
                                                    <ul class="car-info col-md-6">
                                                        <li><i class="flaticon flaticon-calendar"></i>
                                                            <p>2016/2017</p></li>
                                                        <li><i class="flaticon flaticon-speed"></i>
                                                            <p>240p/h</p></li>
                                                        <li><i class="flaticon flaticon-road"></i>
                                                            <p>20.000km - 40.000km</p></li>
                                                        <li><i class="flaticon flaticon-fuel"></i>
                                                            <p>Diesel</p></li>
                                                    </ul>
                                                    <ul class="car-info col-md-6">
                                                        <li><i class="flaticon flaticon-art"></i>
                                                            <p>White</p></li>
                                                        <li><i class="flaticon flaticon-shift"></i>
                                                            <p>Automatic</p></li>
                                                        <li><i class="flaticon flaticon-car"></i>
                                                            <p>4/5</p></li>
                                                        <li><i class="flaticon flaticon-motor"></i>
                                                            <p>3000cm3</p></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--<div class="similar-info">-->
                                            <!--<div class="primary-button">-->
                                            <!--<a href="#">Add Offer <i class="fa fa-dollar"></i></a>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="search-content wow fadeIn" data-wow-duration="0.75s">
                        <div class="search-heading">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="text-content">
                                <h2>Quick Search</h2>
                                <span>We made a quick search just for you</span>
                            </div>
                        </div>
                        <div class="search-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-select">
                                        <select name="brand" id="brand">
                                            <option value="-1">Select Brand</option>
                                            {% for brand in car_brands%}
                                            <option value="{{brand}}">{{brand}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-select">
                                        <select name="car_list" id="car_list">
                                            <option value="-1">Select Car</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="secondary-button">
                                        <button id="temp" class="btn bg-color">Search <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="recent-cars">
        <div class="container">
            <div class="recent-car-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="text-content">
                                <h2>Recent Cars</h2>
                                <span>Check our recent posts</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for car in recent_cars %}
                    <div class="col-md-4 col-sm-6">
                        <div class="car-item wow fadeIn" data-wow-duration="0.75s">
                            <div class="thumb-content">
                                <div class="car-banner">
                                    <a href="/single_car/{{car.slug}}">For Rent</a>
                                </div>
                                <div class="thumb-inner">
                                    {% set url = 'images/' + car.url %}
                                    <a href="/single_car/{{car.slug}}"><img src="{{url_for('static', filename = url)}}"
                                                                            alt=""></a>
                                </div>
                            </div>
                            <div class="down-content">
                                <a href="/single_car/{{car.slug}}"><h4>{{car.name}}</h4></a>
                                <span>Rs. {{car.price}}</span>
                                <p>{{car.description[0:100]}}...</p>
                                <ul class="car-info">
                                    <li>
                                        <div class="item"><i class="flaticon flaticon-calendar"></i>
                                            <p>2018</p></div>
                                    </li>
                                    <li>
                                        <div class="item"><i class="flaticon flaticon-speed"></i>
                                            <p>160p/h</p></div>
                                    </li>
                                    <li>
                                        <div class="item"><i class="flaticon flaticon-road"></i>
                                            <p>26.00km</p></div>
                                    </li>
                                    <li>
                                        <div class="item"><i class="flaticon flaticon-fuel"></i>
                                            <p>Petrol</p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading" style="margin-top: 5%">
                        <div class="icon">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="text-content">
                            <h2>Our Team</h2>
                            <span>This Website is developed by:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="owl-testimonials" class="owl-carousel owl-theme" style="margin-top: -5%">
                <div class="item wow fadeIn" data-wow-duration="0.75s">
                    <div class="author-rate">
                        <img src="{{url_for('static', filename = 'images/Team/Anas.jpg')}}" alt="">
                        <h4>Anas Raza</h4>
                        <div class="line-dec2"></div>
                        <span>Software Developer</span>
                    </div>
                </div>
                <div class="item wow fadeIn" data-wow-duration="0.75s">
                    <div class="author-rate">
                        <img src="{{url_for('static', filename = 'images/Team/Wajeeha.jpg')}}" alt="">
                        <h4>Wajeeha Manzoor</h4>
                        <div class="line-dec2"></div>
                        <span>Software Developer</span>
                    </div>
                </div>
                <div class="item wow fadeIn" data-wow-duration="0.75s">
                    <div class="author-rate">
                        <img src="{{url_for('static', filename = 'images/Team/Afzal.jpg')}}" alt="">
                        <h4>Afzal Ali</h4>
                        <div class="line-dec2"></div>
                        <span>Software Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}