<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Car Dealer Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GARI GARAGE</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/95214.png')}}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename = 'fonts/fontawesome-free-5.10.1-web/css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <!-- Slider Pro Css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/sliderPro.css')}}">
    <!-- Owl Carousel Css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/owl-carousel.css')}}">
    <!-- Flat Icons Css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/flaticon.css')}}">
    <!-- Animated Css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'fonts/Adumu/stylesheet.css')}}">



    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="search">
    <button type="button" class="close">×</button>
    <form method="GET" action="/search">
        <input name="query" id="query" type="search" value="" placeholder="Type brand or model name"/>
        <button type="submit" class="primary-button">Search <i class="fa fa-search"></i></button>
    </form>
</div>

<header class="site-header wow fadeIn" data-wow-duration="1s">
    <div id="main-header" class="main-header">
        <div class="container-fluid clearfix">
            <div>
                <a href="/" title="Home"><img class="logo"
                                              src="{{url_for('static', filename = 'images/logo.png')}}"/></a>
                <h1 class="font-weight-bold logoname">GARI GARAGE</h1>
            </div>
            <div id='cssmenu'>
                <ul style="margin-top: 4%">
                    <li><a href='/' title="Home">Home</a></li>
                    <li class='active'><a href='#' title="Car Listing">Car Listing</a>
                        <ul>
                            <li><a href='/car_listing_sidebar/simple' title="Car Listing View">Car Listing View</a>
                            </li>
                            <li><a href='/car_grid_sidebar/simple' title="Car Grid View">Car Grid View</a></li>
                        </ul>
                    </li>
                    <li><a href='/about_us' title="About Us">About Us</a></li>
                    <li><a href='/contact_us' title="Contact Us">Contact Us</a></li>
                    <li>
                        <a href="#search" title="Search"><i class="fa fa-search"></i></a>
                    </li>
                    <li><a href="/login" title="Login"><i class="fas fa-user-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

{% block body %} {% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-item">
                    <div class="about-us">
                        <h2>About Us</h2>
                        <p class="align_text">Gari Garage is a leading digital marketplace and solutions
                            provider for the automotive
                            industry that connects car shoppers with sellers. The Company empowers shoppers with the
                            data, resources and digital tools needed to make informed buying decisions and seamlessly
                            connect with automotive retailers.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://www.drible.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-item">
                    <div class="what-offer">
                        <h2>Also Look At: </h2>
                        <ul>
                            <li><a href="/car_listing_sidebar/hotcars">Hot Cars</a></li>
                            <li><a href="/car_listing_sidebar/audicars">Audi Cars</a></li>
                            <li><a href="/car_listing_sidebar/hondacars">Honda Cars</a></li>
                            <li><a href="/car_listing_sidebar/toyotacars">Toyota Corolla Cars</a></li>
                            <li><a href="/car_listing_sidebar/suzukicars">Suzuki Cars</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <div class="our-gallery">
                        <h2>Our Gallery</h2>
                        <ul>
                            <!--                            {% for car in gallery_cars %}-->
                            <!--                            {% set url = 'images/' + car.url %}-->
                            <!--                            <li><a href="/single_car/{{car.slug}}"><img src="{{url_for('static', filename = url)}}" alt=""></a></li>-->
                            <!--                            {% endfor %}-->
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_01.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_02.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_03.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_04.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_05.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_06.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_01.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_02.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_03.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_04.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_05.jpg')}}" alt=""></a>
                            </li>
                            <li><a href="#"><img src="{{url_for('static', filename = 'images/gallery_06.jpg')}}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-item">
                    <div class="quick-search">
                        <h2>Quick Search</h2>
                        <form action="/search" method="GET">
                            <input type="text" class="footer-search" name="query" placeholder="Search..." value=""
                                   autocomplete="off">
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sub-footer">
                    <p>Copyright 2019. All rights reserved by: <a href="#">Gari Garage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<!-- Slider Pro Js -->
<script src="{{url_for('static', filename = 'js/sliderpro.min.js')}}"></script>

<!-- Slick Slider Js -->
<script src="{{url_for('static', filename = 'js/slick.js')}}"></script>

<!-- Owl Carousel Js -->
<script src="{{url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>

<!-- Boostrap Js -->
<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

<!-- Boostrap Js -->
<script src="{{url_for('static', filename = 'js/wow.animation.js')}}"></script>

<!-- Custom Js -->
<script src="{{url_for('static', filename = 'js/custom.js')}}"></script>

</body>

</html>