<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Car Dealer Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login screen</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'fonts/Adumu/stylesheet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'fonts/fontawesome-free-5.10.1-web/css/all.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/95214.png')}}">
</head>

<body>
<header class="site-header wow fadeIn" data-wow-duration="1s">
	<div id="main-header" class="main-header">
		<div class="container-fluid clearfix">
			<div>
				<a href="/"><img class="logo" src="{{url_for('static', filename = 'images/logo.png')}}"/></a>
				<h1 class="font-weight-bold logoname">GARI GARAGE</h1>
			</div>
		</div>
	</div>
</header>
<div class="wrapper">
    <div class="container">
        <h1 class="font-weight-bold text-light" style="text-shadow: 2px 2px 5px #1e1e1e">Welcome</h1>

        <form class="form" method="POST" action="/login" enctype="multipart/form-data">
            <input id="text" type="text" placeholder="Username" name="username" value="Admin" readonly>
            <input id="pswrd" type="password" placeholder="Password" name="pswrd" required data-validation-required-message = "Please enter your password"> <i id="pswrd_show" class="fas fa-eye"></i>
            <button id="login-button" type="submit">Login</button>
        </form>
        <div><h5 class="text-white">{{msg}}</h5></div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<script src="{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/custom.js')}}"></script>


</body>

</html>
