{% extends "layout.html" %}
{% block body %}

<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">Homepage</a> / <em> Cars</em> / <em> Car Details</em></p>
                            <h2>Car <em>Details</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-car single-car wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
    <div class="container">
        <div class="recent-car-content">
            <div class="row">
                <div class="col-md-6">
                    <div id="single-car" class="slider-pro">
                        <div class="sp-slides">
                            {% set url = 'images/' + car.url %}
                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                            <div class="sp-slide">
                                <img class="sp-image" src="{{url_for('static', filename=url)}}" alt=""/>
                            </div>

                        </div>

                        <div class="sp-thumbnails">
                            <img class="sp-thumbnail" src="{{url_for('static', filename=url)}}" alt=""/>
                            <img class="sp-thumbnail" src="{{url_for('static', filename=url)}}" alt=""/>
                            <img class="sp-thumbnail" src="{{url_for('static', filename=url)}}" alt=""/>
                            <img class="sp-thumbnail" src="{{url_for('static', filename=url)}}" alt=""/>
                            <img class="sp-thumbnail" src="{{url_for('static', filename=url)}}" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="car-details">
                        <h4>{{car.name}}</h4>
                        <span>Rs. {{car.price}}</span>
                        <p>{{car.description}}</p>
                        <div class="container">
                            <div class="row">
                                <ul class="car-info col-md-6">
                                    <li><i class="flaticon flaticon-calendar"></i>
                                        <p>2016/2017</p></li>
                                    <li><i class="flaticon flaticon-speed"></i>
                                        <p>240p/h</p></li>
                                    <li><i class="flaticon flaticon-road"></i>
                                        <p>20.000km - 40.000km</p></li>
                                    <li><i class="flaticon flaticon-fuel"></i>
                                        <p>Diesel</p></li>
                                </ul>
                                <ul class="car-info col-md-6">
                                    <li><i class="flaticon flaticon-art"></i>
                                        <p>White</p></li>
                                    <li><i class="flaticon flaticon-shift"></i>
                                        <p>Automatic</p></li>
                                    <li><i class="flaticon flaticon-car"></i>
                                        <p>4/5</p></li>
                                    <li><i class="flaticon flaticon-motor"></i>
                                        <p>3000cm3</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="similar-info">
                            <div class="primary-button">
                                <a href="#">Add Offer <i class="fa fa-dollar"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="recent-car similar-car wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="recent-car-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="text-content">
                                <h2>Similar Cars</h2>
                                <span>You may like this too</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="owl-similar" class="owl-carousel owl-theme">
                    {% for car in related_cars %}
                    <div class="item car-item">
                        <div class="thumb-content">
                            <div class="car-banner">
                                <a href="/single_car/{{car.slug}}">For Rent</a>
                            </div>
                            {% set url = 'images/' + car.url %}
                            <a href="/single_car/{{car.slug}}"><img src="{{url_for('static', filename=url)}}" alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="/single_car/{{car.slug}}"><h4>{{car.name}}</h4></a>
                            <span>Rs. {{car.price}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}